# dependencies
node_modules/

# environment variables
.env

# build output
dist/
build/
coverage/

# test coverage
.nyc_output/

# logs
logs/
*.log
npm-debug.log*

# editor/OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
